In [3]:
#Imports
import sklearn as sk
import pandas as pd
import csv
import requests
import numpy as np
import matplotlib.pyplot as plt
import scipy.signal as ss
from scipy.signal import iirnotch
from scipy.signal import butter
from scipy.signal import lfilter, filtfilt
from  scipy.signal import find_peaks
import more_itertools as mit
import re
import os
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import ListedColormap
from sklearn import neighbors, datasets
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [2]:
url = 'https://raw.githubusercontent.com/LLynd/Neurohackator2021TeamLutraLutra/classification_data/data.csv'
data = pd.read_csv(url)

x = data.drop('scary', axis=1)
y = data['scary']

In [3]:
data

    index  colors  humanoid  gore  animals  frame  scary
0       0       0         1     0        0      0      0
1       1       0         1     0        0      0      0
2       2       0         1     0        0      1      0
3       3       1         0     0        0      2      1
4       4       1         1     0        0      1      0
5       5       1         1     0        1      1      0
6       6       1         1     0        0      1      0
7       7       0         0     0        0      2      1
8       8       1         1     1        1      0      0
9       9       1         0     0        0      2      1
10     10       1         1     1        0      2      1
11     11       1         0     0        1      1      0
12     12       1         0     1        1      1      0
13     13       1         1     1        0      1      0
14     14       1         1     0        1      0      0
15     15       1         1     1        1      1      0
16     16       1         1     0        0      1      0
17     17       1         1     0        0      1      0
18     18       1         1     1        1      0      0
19     19       1         1     0        1      1      0
20     20       0         1     0        0      1      0
21     21       1         1     0        0      1      0

In [4]:
x

    index  colors  humanoid  gore  animals  frame
0       0       0         1     0        0      0
1       1       0         1     0        0      0
2       2       0         1     0        0      1
3       3       1         0     0        0      2
4       4       1         1     0        0      1
5       5       1         1     0        1      1
6       6       1         1     0        0      1
7       7       0         0     0        0      2
8       8       1         1     1        1      0
9       9       1         0     0        0      2
10     10       1         1     1        0      2
11     11       1         0     0        1      1
12     12       1         0     1        1      1
13     13       1         1     1        0      1
14     14       1         1     0        1      0
15     15       1         1     1        1      1
16     16       1         1     0        0      1
17     17       1         1     0        0      1
18     18       1         1     1        1      0
19     19       1         1     0        1      1
20     20       0         1     0        0      1
21     21       1         1     0        0      1

In [5]:
y

0     0
1     0
2     0
3     1
4     0
5     0
6     0
7     1
8     0
9     1
10    1
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
Name: scary, dtype: int64

In [6]:
#preparing data for classificator
ind = [10, 5, 9, 17, 2, 15, 19, 13, 21, 4]
val = [1, 0, 1, 0, 0, 0, 0, 0, 0, 0]
x_train = x
y_train = y
x_test = x
for i in range(len(data)):
  if i not in ind:
    x_train= x_train.drop(i)
    y_train = y_train.drop(i)
  else:
    x_test = x_test.drop(i)
for i in range(len(ind)):
  y_train.at[ind[i]] = val[i]
print(x_train)
print(y_train)
print(x_test)

    index  colors  humanoid  gore  animals  frame
2       2       0         1     0        0      1
4       4       1         1     0        0      1
5       5       1         1     0        1      1
9       9       1         0     0        0      2
10     10       1         1     1        0      2
13     13       1         1     1        0      1
15     15       1         1     1        1      1
17     17       1         1     0        0      1
19     19       1         1     0        1      1
21     21       1         1     0        0      1
2     0
4     0
5     0
9     1
10    1
13    0
15    0
17    0
19    0
21    0
Name: scary, dtype: int64
    index  colors  humanoid  gore  animals  frame
0       0       0         1     0        0      0
1       1       0         1     0        0      0
3       3       1         0     0        0      2
6       6       1         1     0        0      1
7       7       0         0     0        0      2
8       8       1         1     1        1      0
11     11       1         0     0        1      1
12     12       1         0     1        1      1
14     14       1         1     0        1      0
16     16       1         1     0        0      1
18     18       1         1     1        1      0
20     20       0         1     0        0      1

In [7]:
from sklearn.ensemble import RandomForestClassifier

regressor = RandomForestClassifier(n_estimators=20, random_state=0)
regressor.fit(x_train, y_train)
y_pred = regressor.predict(x_test)

#indexes of image that are similar to testing set
for i in range(len(y_pred)):
  if y_pred[i] == 1:
    print(x_test.iloc[i, 0])

3
7